@import "tailwindcss";

@source"./src/PhoenixDesign/**/*.{html,js}"

@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui"{
    themes: dark --default;
    root: ":root";
    utils: true;
    styled: true;
    base: true;
};